@import "node_modules/bootstrap/less/bootstrap";
// @import "vendor/bower_components/jasny-bootstrap/less/jasny-bootstrap";
@import "vendor/bower_components/roboto-fontface/css/roboto-fontface";
@import "vendor/bower_components/font-awesome/less/font-awesome";
@import (inline) "node_modules/dropzone/dist/dropzone.css";
@import (inline) "node_modules/sweetalert/dist/sweetalert.css";
@import "node_modules/jstree/src/themes/default/style";

@import "partials/variables";
@import "partials/nav";
@import "partials/theme";
@import "partials/typeahead";

// JsTree overrides
@image-path:    "../img/";

body {
  margin-top: 70px;
}

.dropzone {
    border: 2px dashed rgba(122, 192, 66, 0.5);
}

.dropzone .dz-message {
    font-weight: 400;
    font-size: 1.2em;
}

.gallery__image {
    margin-bottom: 1em;
}

.foto {
    position: relative;
}

.foto .foto-borrar {
    position: absolute;
    top: 0.3em;
    right: 0.3em;
}

.transaccion-detail {
    min-height: 200px;
}

[v-cloak] {
    display: none
}